section{
    margin-top: 20px;
    margin-left: 20px;
}
.show{
    display: grid;
    position: relative;
    border: 1px solid black;
    border-radius:10px ;
    text-align: center;
    height: 475px;
    width: 300px;
}

.show img{
    padding: 7px;
    height: 286px;
    width: 286px;
    border-radius: 15px;
}

.name{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: -45px;
    font-family: loto;
}
.product-info{
    text-align: left;
    margin: 0px 14px;    
}
.price,.seller,.rattings{
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn-cart{
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    border: none;
    padding: 0px;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    bottom: 0px;
    background-color: #FFE0B3;
}
#btn-p{
    padding-right: 7px;
}
.btn-cart:hover{
    background-color: orange;
}